* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background: linear-gradient(to right, #4e4b4b, grey);
    --number-button-background: grey;
    --main-operand-background: orange;
    --top-function-button-background: rgba(0,0,0,20%);
    --answer-box-background: rgba(0,0,0,60%);
    --text-color: white;
}

h1 {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-size: 1.5rem;
    border: 1px solid black;
    cursor: pointer;
    color: var(--text-color);
}

.number, #period {
    background-color: var(--number-button-background);
}

#division, #multiply, #subtract, #add, #equals {
    background-color: var(--main-operand-background);
}

#ac, #plus_minus, #percent {
    background-color: var(--top-function-button-background);
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 75vh;
    max-width: 450px;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,50%);
    border-radius: 10px;
}

#answer-box {
    background-color: var(--answer-box-background);
    height: 100%;
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
}

.row {
    width: 100%;
    height: calc(100% / 6);
    font-size: 0;
}

.row > button {
    height: 100%;
    width: 25%;
}

.row:last-child > .number {
    width: 50%;
    border-radius: 0 0 0 10px;
}

#equals {
    border-radius: 0 0 10px 0;
}
