* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background: linear-gradient(to right, #4e4b4b, grey);
    --number-button-background: grey;
    --main-operator-background: orange;
    --top-function-button-background: rgba(0,0,0,20%);
    --answer-box-background: rgba(0,0,0,60%);
    --text-color: white;
    --number-button-hover-background: rgba(128, 128, 128, 50%);
    --main-operator-hover-background: hsl(39, 100%, 40%);
    --top-function-button-hover-background: rgba(0,0,0,30%);
}

h1 {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-size: 2rem;
    border: 1px solid black;
    cursor: pointer;
    color: var(--text-color);

}

.number, #decimal {
    background-color: var(--number-button-background);
}

.number:hover, #period:hover {
    background-color: var(--number-button-hover-background);
}

.main-operator {
    background-color: var(--main-operator-background);
}

.main-operator:hover {
    background-color: var(--main-operator-hover-background);
}

.top-function {
    background-color: var(--top-function-button-background);
}

.top-function:hover {
    background-color: var(--top-function-button-hover-background);
}

#calculator {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 50vw;
    height: 75vh;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,50%);
    border-radius: 10px;
}

#answer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--answer-box-background);
    height: 100%;
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
    color: var(--text-color);
}

#answer-box p {
    display: flex;
    font-size: 3rem;
    padding: 2%;
}

#answer-box p:first-child {
    font-size: 1.5rem;
}

#answer-box p:last-child {
    justify-content: flex-end;
}

.row:first-child {
    height: 20%;
}

.row {
    width: 100%;
    height: calc(80% / 5);
    font-size: 0;
}

.row > button {
    height: 100%;
    width: 25%;
}

.row:last-child > .number {
    width: 50%;
    border-radius: 0 0 0 10px;
}

#equals {
    border-radius: 0 0 10px 0;
}

@media (max-width: 850px) {
    #calculator {
        width: 80%;
    }
}

@media (max-width: 375px) {
    button {
        font-size: 1.5rem;
    }
    #calculator {
        height: 60vh;
    }
}

@media (max-width: 190px) {
    button {
        font-size: 1rem;
    }
}